.main-container {
  background-color: grey;
  /* border-radius: 50%; */
}


p {
  background-color: aqua;
  /* border-radius: %; */
}

h1 {
  background-color: burlywood;
  /* border-radius:  */
}

