html {
margin-top: 0px;
margin-bottom: 0px;
padding: 0px;

}



.main-container {
  background-color: black;
  /* border: black 3px solid; */
  padding-left: 25px;
  /* padding-bottom: 50px; */
  /* margin-bottom: 50px; */

  /* border-radius: 50%; */
}

.inner-container {
  background-color: grey;
  border: black 3px solid;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 450px;

  /* border-radius: 50%; */
}


p {
  border: 3px red solid;
  /* border-radius: %; */
}

h1 {
  /* border-radius:  */
  
}

